.navigationContainer {
  display: flex;
  width: 100%;
  height: 56px;
  background: black;
  position: fixed;
  left:0;
  top:0;
}

.navigationTitle {
  position: relative;
  bottom: 15px;
  left: 15px;
  color: #E0FFFF;
  font-style: italic;
}
